<div data-controller="dashboard">
  <% if @audio_path %>
    <audio class="hidden" data-dashboard-target="welcomeAudio" controls src="<%= @audio_path %>"></audio>
  <% end %>


  <%= form_with(url: voice_input_path, local: true, data: { controller: "voice-input" }) do |form| %>
    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content, name: 'voice_input[content]', data: { voice_input_target: 'input' } %>
      <span data-action="click->voice-input#record" style="cursor: pointer; text-decoration: underline" data-target="voice-input.startButton">
      Start Recording
    </span>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
